.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 3rem;
}
.cardImage {
  padding: 20px;
  max-width: 250px;
}

.cardImage:hover,
.cardImage:focus,
.cardImage:active {
  border-color: #0070f3;
  padding: 20px;
}
.priceButton {
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
}

.priceButton p {
  font-weight: 200;
  font-style: oblique;
  margin-left: 5px;
  margin-top: -10px;
}
