.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}
.cardImage {
  padding: 20px;
}
