.longText {
  width: 80%;
  font-weight: 300;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 180px;
}

.quote {
  padding: 30px;
  font-size: 0.9em;
  font-weight: 200;
  font-style: oblique;
  width: 350px;
  height: 500px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 3rem;
}
.cardImage {
}

/*Fixa var bilden är!!*/
