.gridContainer {
  width: 80%;
  max-width: 1000px;
  font-weight: 300;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: auto;
}
.textDiv {
  padding-top: 4%;
}

@media all and (min-width: 150px) and (max-width: 950px) {
  .gridContainer {
    display: block;
  }
  .gridImage {
    padding-top: 2%;
  }
}
/*
  
  
  
  Fixa var bilden är!!*/
