html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #d9d8d3;
}

* {
  box-sizing: border-box;
}

a {
  color: #2a3035;
  text-decoration: none;
}

a:hover {
  color: #656768;
}

img {
  max-width: 100%;
  display: block;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .logoImage {
    visibility: hidden;
  }
}

main {
  padding-top: 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
