.footer {
  width: 100%;

  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 10px;
  margin-bottom: 0px;
}
@media all and (min-width: 150px) and (max-width: 950px) {
  .lowDiv {
    max-width: 40%;
  }
  .lowDiv h6 {
    margin-left: auto;
  }
}
