.footer {
  width: 100%;

  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  margin-top: 10px;
  background-color: #d9d8d3;
}
.lowDiv h6 {
  margin-top: -15px;
}
.lowDiv {
  padding-left: 10px;
}
