.headerAll {
  padding: 20px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoImage {
  width: 100px;
  height: 100px;
  cursor:pointer;
}

.rightSideMenu {
  padding-right: 10px;
}

.rightSideMenu a {
  padding-right: 30px;
}
.activeTab {
  text-decoration: underline;
}
@media all and (min-width: 150px) and (max-width: 500px) {
  .headerAll {
    padding-top: 10px;
  }
  .logoImage {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    padding-right: 10px;
    padding-left: 5px;
  }
  .rightSideMenu {
    padding-right: 5px;
  }
  .rightSideMenu a {
    padding-right: 15px;
  }
}
